In [26]:
# Dependencies
import numpy as np
import pandas as pd

# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, inspect, func

In [27]:
engine = create_engine("sqlite:///hawaii.sqlite")

# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

# Save references to each table
Measurement = Base.classes.measurement
Station = Base.classes.station

In [28]:
# Create our session (link) from Python to the DB
session = Session(engine)

## D1: Determine the Summary Statistics for June

In [63]:
# 1. Import the sqlalchemy extract function.
from sqlalchemy import extract

#Needed to get the list of the columns for Measurement table
inspector = inspect(engine)
columns = inspector.get_columns('measurement')
for c in columns:
    print(c['name'], c["type"])

# 2. Write a query that filters the Measurement table to retrieve the temperatures for the month of June. 
QueryStr = "SELECT tobs FROM measurement where substr(date, 6,2) = '06'"

id INTEGER
station TEXT
date TEXT
prcp FLOAT
tobs FLOAT

In [64]:
#  3. Convert the June temperatures to a list.
results = engine.execute(QueryStr)

# We also can get the list following way
#results = session.query(Measurement.tobs).filter(func.strftime("%m", Measurement.date) == "06")

In [65]:
# 4. Create a DataFrame from the list of temperatures for the month of June. 

June_Temps_df = pd.DataFrame(results, columns=['June Temps'])

In [66]:
# 5. Calculate and print out the summary statistics for the June temperature DataFrame.
June_Temps_df.describe()

        June Temps
count  1700.000000
mean     74.944118
std       3.257417
min      64.000000
25%      73.000000
50%      75.000000
75%      77.000000
max      85.000000

## D2: Determine the Summary Statistics for December

In [67]:
# 6. Write a query that filters the Measurement table to retrieve the temperatures for the month of December.
QueryStr = "SELECT tobs FROM measurement where substr(date, 6,2) = '12'"

In [68]:
# 7. Convert the December temperatures to a list.
Dec_results = engine.execute(QueryStr)

In [71]:
# 8. Create a DataFrame from the list of temperatures for the month of December. 
Dec_Temps_df = pd.DataFrame(Dec_results, columns=['December Temps'])

In [72]:
# 9. Calculate and print out the summary statistics for the Decemeber temperature DataFrame.
Dec_Temps_df.describe()

       December Temps
count     1517.000000
mean        71.041529
std          3.745920
min         56.000000
25%         69.000000
50%         71.000000
75%         74.000000
max         83.000000

In [77]:
QueryStr = "SELECT tobs FROM measurement where substr(date, 6,2) = '03'"
Temp_March_results = engine.execute(QueryStr)
Temp_March_df = pd.DataFrame(Temp_March_results, columns=['March Temps'])
Temp_March_df.describe()

       March Temps
count  1693.000000
mean     70.059067
std       3.845271
min      56.000000
25%      68.000000
50%      70.000000
75%      73.000000
max      82.000000

In [78]:
QueryStr = "SELECT tobs FROM measurement where substr(date, 6,2) = '09'"
Temp_Sept_results = engine.execute(QueryStr)
Temp_Sept_df = pd.DataFrame(Temp_Sept_results, columns=['September Temps'])
Temp_Sept_df.describe()

       September Temps
count      1480.000000
mean         76.164865
std           3.535178
min          64.000000
25%          74.000000
50%          76.000000
75%          79.000000
max          87.000000